@use "../../scss/colors";

.landing {
    height: calc(100vh - 3rem);
}

.tabs {
    display: flex;
    .tab-item {
        width: 50%;
        border: 0;
        font-weight: bold;
        font-size: 1.3rem;
        &:focus{
            outline: thin;
        }
        &:hover{
            background-color: lightgrey;
        }
        &.active {
            background-color: colors.$blueish;
            color: white;
        }
    }
}



.tab-canvas {
    background-color: colors.$blueish;
    height: calc(100% - 3rem);
}